<footer class="FooterClass" style="font-size:1em">
    <h3 style="color:#FFFFFF; font-family:'Segoe UI'">Telif hakkı &copy; 2020 Kobus . Tüm hakları saklıdır.</h3>
    <h3 style="color:#5CD375; font-family:'Segoe UI'">Telefon: (0850) 600 00 10</h3>
</footer>
