<header style="background-color:#272343">
    <div class="containerr" style="position: relative; padding-bottom:20px">
        <nav>
            <div class="menu-icons">
                <i class="icon ion-md-menu" style="color: #5CD375"></i>
                <i class="icon ion-md-close" style="color: #5CD375"></i>
            </div>
            <a style=""  class="logo">
                <img style="width:18rem;height: 5rem;margin-top:20px"
                     src="~/img/LOGO.png"
                     alt="" />
            </a>
            <ul class="nav-listt">
              
                
                <li>
                    <img style="width: 2.6rem;
                        height: 2.5rem;

                        "
                         src="~/img/kayit.png"
                         alt="" />
                    <a style="margin-left:10px;font-family:'Segoe UI'" href="/Kobus/Login">Yönetici Giriş</a>
                </li>

            </ul>
        </nav>
    </div>
</header>

