
<div class="fila">
    <div class="SeatArea">
        <div class="Seat">
            <input type="checkbox" value="None" id="Seat1" name="check" />
            <label for="Seat1">1</label>
        </div>
        <div class="Seat">
            <input type="checkbox" value="None" id="Seat2" name="check" />
            <label for="Seat2">2</label>
        </div>
    </div>
    <div class="SeatArea">
        <div class="Seat">
            <input type="checkbox" value="None" id="Seat3" name="check" />
            <label for="Seat3">3</label>
        </div>
        <div class="Seat">
            <input type="checkbox" value="None" id="Seat4" name="check" />
            <label for="Seat4">4</label>
        </div>
    </div>
</div>